


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe</title>

  <form action="/users/:userId/foods/" method="POST">
  <label for="name">Food Name:</label>
  <input type="text" name="name" id="name" required />
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="instructions" id="ingredients" required />
  <label for="recipe">Recipe:</label>
  <input type="text" name="recipe" id="recipe" required />
  
  <button type="submit">Add New Item</button>
</form>

</head>
<body>
  
</body>
</html>