<form action="/foods" method="POST">
  <label for="name">Food Name:</label>
  <input type="text" name="name" id="name" required />
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="instructions" id="ingredients" required />
  <label for="recipe">Recipe:</label>
  <input type="text" name="recipe" id="recipe" required />
  
  <button type="submit">Edit Item</button>
</form>