


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Food</title>


<form action="" method=""></form>

<br>
<form action="" method="">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />
<br><br>
  <label for="instructions">instructions:</label>
  <textarea name="instructions" id="instructions"></textarea>
<br><br>
  <label for="ingredients">Ingredients:</label>
  <textarea name="ingredients" id="ingredients"></textarea>
<br><br>
  <label for="postingLink">Posting Link:</label>
  <input type="text" name="postingLink" id="postingLink" />
  <br><br>
  <button type="submit">Confirm New Recipe</button>

</select>
</form>





  
<!-- 
  <form
  action="/users/<%= user._id %>/foods?_method=PUT"
  method="POST">

  <form action="/users/:userId/foods/" method="POST">
  <label for="name">Food Name:</label>
  <input type="text" name="name" id="name" required />
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="instructions" id="ingredients" required />
  <label for="recipe">Recipe:</label>
  <input type="text" name="recipe" id="recipe" required />
  
  <button type="submit">Confirm New Food</button>
   -->


  

</head>
<body>
  
</body>
</html>